@import "~antd/lib/style/themes/default.less";

.standardTable {
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
  }
  .ant-table-thead {
    font-size:18px;
    font-weight:700;
  }
  .tableAlert {
    margin-bottom: 16px;
  }
  .txt{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100px;
  }
  .model_name{
    display: block;
  }
  .model_title{
  font-size:14px;
  color:rgba(0,0,0,.85)
  }
  .manageName{
    font-size: 14px;
    color:rgba(0,0,0,.85)
  }
  .disabled{
    color: rgb(238,86,72);
  }
  .act{
    color: green;
  }
}
