@import "~antd/lib/style/themes/default.less";

.main {
  width: 468px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 0 20px rgba(0,0,0,.08), inset 0 0 3px #fff;
  .title{
    margin-left: 30px;
    color: #3c3c3c;
  }
  .subtitle{
    margin-left: 30px;
    color: @grey-color;
  }
  .icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      color: @primary-color;
      transition: color .3s;
    }
  }
  .tabtitle{
    .ant-form{
      .ant-tabs-bar{
        display: none !important;
      }
    }
  }
  .other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;
    color: @grey-color;
    .register {
      color: #4877ee;
    }
  }
}
